.mainContainer {
  height: 100%;
  max-height: 100%;
  width: 90%;
  margin: 0 auto;
}

.headContainer {
  margin: 0 auto;
  max-height: 12%;
}

.title {
  display: flex;
  justify-content: center;
}

.title h2 {
  text-align: center;
}

.changeUser {
  display: flex;
  justify-content: center;
}

.contentContainer {
  display: flex;
  max-height: 88%;
  overflow-y: scroll;
  justify-content: center;
}

.error {
  color: #AA3939;
}

@media (max-width: 374px) {
  .headContainer {
    max-height: none;
  }

  .contentContainer {
    max-height: 85%;
  }
}

@media (max-width: 352px) {
  .contentContainer {
    max-height: 82%;
  }
}

@media (max-width: 207px) {
  .contentContainer {
    max-height: 78%;
  }
}

@media (max-width: 175px) {
  .contentContainer {
    max-height: 75%;
  }
}
