.mainContainer {
  height: 100%;
  max-height: 100%;
  width: 90%;
  margin: 0 auto;
}

.headContainer {
  margin: 0 auto;
  max-height: 12%;
}

.title {
  display: flex;
  justify-content: center;
}

.changeUser {
  display: flex;
  justify-content: center;
}

.contentContainer {
  display: flex;
  justify-content: center;
}
