.eventContainer {
  max-width: 450px;
  border-radius: 5px;
  height: 100%;
  margin: 5px;
  padding: 10px;
  background-color: #4F7AAF;
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

.repo h4 {
  margin: 0;
}

.author {
  font-style: italic;
  margin-bottom: 0;
}

.message {
  margin-top: 0.3em;
  margin-bottom: 0.25em;
}

ul {
  padding-left: 1em;
  margin: 0.75em 0 0 0;
}

.relativeDate {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75em;
  font-size: italic;
}
