.eventContainer {
  max-width: 450px;
  border-radius: 5px;
  height: 100%;
  margin: 5px;
  padding: 10px;
  background-color: #AA6C39;
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

.repo h4 {
  margin: 0;
}

.author {
  font-style: italic;
  margin-bottom: 0;
}

.message {
  margin-top: 0.3em;
}

ul {
  padding-left: 1em;
}
