/*http://paletton.com/#uid=72P0u0kllllaFw0g0qFqFg0w0aF*/

* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
}
